html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.common-color, .main-section, .service-section, .portfolio-section, .blog-section {
    background-color: #333647;
}
.about-me-section, .choose-me-section, .testimonials-section{
    background-color: #282A39;
}   
.contact-page {
    background-color: #11121C;
}
.bg-color-gray {
    background-color: gray;
}
.txt-color-gray {
    color: #6B6B6B;
}
.txt-color-white {
    color: white;
}
.txt-color-orange {
    color: #F87C58;
}
.bg-color-orange {
    background-color: #F87C58;
}
.navbar-toggle {
    margin-top: 60px;
    font-size: 24px;
}
h1,h2,h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
ul.navbar-nav > li {
    top: 55px;
    margin-left: 2px;
}
ul.navbar-nav > li > a:hover {
    color: white;    
    background-color: #F87C58;
    border-radius: 10px;
}
.nav-img-header {
    margin-top: 42px;
    background: transparent;
}
.info-page {
    margin-top: 140px;
}
.salut {
    display: inline-block;
    padding: 10px 20px;
}
.btn-download {
    padding: 10px 20px;
    margin: 30px 0 0 0;
}
.btn-work {
    background: transparent;
    border-color: white;
    margin: 30px 0 0 20px;
    padding: 10px 38px;
}
.info-page button:hover {
    color: white;    
    background-color: #F87C58;
    border-color: #F87C58;
}
.set-img-cir {
    background-color: #2a2c3b;
    border-radius: 50%;
}
.img-circle-style {
    border: dashed white;
    border-radius: 50%;
    padding: 5px;
    float: left;
    margin: 42px 0;
}
.img-comp {
    position: relative;
    margin: 100px 0;
    width: 50%;
    filter: grayscale(100%);
}
.progress-section {
    margin: 100px 0;
}
.struggle-para-sec {
    margin-top: 52px;
    margin-bottom: 30px;
}
.progress {
    height: 3px;
}
.btn-hire {
    margin-top: 10px;
    padding: 15px 35px;
}
.btn-about {
    margin: 10px 0 0 10px;
    padding: 15px 35px;
    background: transparent;
    border-color: white;
}
.style-br {
    background: transparent;
    border: none;
}
.yoe-section {
    bottom: 55px;
    left: -40px;
    position: absolute;
    background-color: #11121C;
    height: 150px;
    width: 160px;
    border-radius: 10px;
}
.white-strip {
    position: absolute;
    background-color: white;
    height: 25px;
    width: 12px;
    left: 30px;
}
.yoe-number {
    font-size: 30px;
}
#strip-grid-1 {
    margin-left: 30px;
}
#strip-grid-2 {
    margin-left: 60px;
}
#strip-grid-3 {
    margin-left: 90px;
}
.yoe-para {
    font-size: 18px;
    margin: 35px 0 0 30px;
}
.vertical-dash {
    border-left: 2px dashed #F87C58;
    height: 50px;
    margin-left: 50%;
}
.service-box {
    height: 80px;
    width: 100%;
    padding: 10px 0 10px 15px;
    margin-top: 50px;
    background-color: #11121C;
}
.service-box > i {
    color: white;
    font-size: 40px;
    float: left;
    padding: 10px;
    border-radius: 50%;
    background-color: #333647;
}
div.service-box:hover {
    background-color: #F87C58;
}
.service-box-para {
    display: inline-block;
    padding: 18px 0 0 20px;
    letter-spacing: 1px;
}
.arrows {
    color: white;
    float: right;
    padding: 18px 20px 0 20px;
    font-size: 20px;
}
div.service-box:hover i{
    color: #F87C58;
    background-color: white;
}
.btn-view {
    margin: 60px 0 100px;
    padding: 15px 60px;   
}
.img-sq-style {
    border: dashed white;
    border-radius: 10px;
    padding: 10px;
    float: left;
    margin: 18% 0;
}
.set-img-sq {
    background-color: #333647;
    border-radius: 10px;
}
.reason-to-choose h2{
    margin: 10% 0 10px;
}
.reasons {
    text-align: center;
    margin-top: 25%;
    background-color: #11121C;
    border: #707070 dashed 1px;
    border-radius: 10px;
}
.reasons > p {
    font-size: 18px;
}
.number {
    margin-top: 3%;
    font-size: 40px;
}
div.reasons:hover {
    background-color: #F87C58;
    border: solid #F87C58 1px;
}
.portfolio-box {
    margin-top: 10%;
    position: relative;
}
.portfolio-box > img {
    filter: grayscale(100%);
}
.portfolio-box .text-top {
    display: none;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}
.portfolio-box:hover div {
    display: inline;
    padding: 100px 0;
    background-color: #F87C58;
    opacity: 0.9;
}
#right-arrow {
    font-size: 24px;
}
.set-img-ellipse {
    position: relative;
    border-radius: 50%;
    border: solid #F87C58 4px;
    margin: 12px 0;
}
.bio {
    margin-bottom: 50px;
}
.blog-page {
    background-color: #11121C;
    width: 100%;
    margin-top: 10%;
    padding-bottom: 10px;
}
.blog-page > p {
    padding: 0px 0 10px 15px; 
    font-size: 16px;
}
.blog-view {
    margin: 2% 0 2% 0;
    padding: 15px 60px;   
}
#blog-date {
    padding: 20px 0 0 15px;
}
#learn_more_link {
    padding-left: 15px; 
    font-size: 16px;
}
.budget {
    padding: 0px 0 10px 15px; 
    font-size: 16px;
}
.contact-us {
    margin: 15% 0 0;
}
.contact-details img{
    margin: 20px 0;
    border-radius: 50%;
    background-color: #333647;
    padding: 10px;
    float: left;
}
.contact-details p {
    float: left;
    margin: 20px 0 0 40px;
}
.contact-info {
    font-size: 18px;
}
.redirect-sym i {
    float: left;
    margin: 40px 30px 0 0;
    cursor: pointer;
    font-size: 40px;
    color: white;
}
.form-section form input, .form-section form textarea, .dropdown-style > select{
    margin: 5% 0;
    padding: 15px 10px;
    color: white;
    height: 0%;
    border: solid #333333;
    background-color: #333647;
}
textarea {
    resize: none;
}
button[type=submit] {
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 992px) {
    ul.navbar-nav > li {
        top: 10px;
        left: 0;
        margin-left: 2px;
    }
    .navbar-nav {
        margin-left: -17px;
    }
    .info-page {
        margin-top: 12%;
    }
    .img-circle-style > img {
        width: 270px;
        height: 270px;
    }
    .yoe-section {
        left: -20px;
    }
    .progress-section {
        margin: 5% 0 10% 0;
    }
    .img-sq-style > img {
        width: 270px;
        height: 270px;
    }
    .number {
        font-size: 20px;
    }
    .reasons {
        margin-top: 20%;
    }
    div.reasons > p {
        font-size: 14px;
    }
    .reasons-box {
        margin-bottom: 10%;
    }
    .blog-page > p {
        padding: 0px 0 10px 15px; 
        font-size: 12px;
    }
    .blog-view {
        margin: 4% 0 4% 0;
    }
    .redirect-sym button {
        height: 40px;
        width: 50px;
        margin: 30px 15px 0 0;
    }
    .contact-us {
        margin: 10% 0 0;
    }
    .contact-us > p {
        font-size: 20px;
    }
    .form-section form input, .form-section form textarea, .dropdown-style > select{
        margin: 4% 0;
        padding: 10px 10px;
    }
    button[type=submit] {
        margin-top: 35px;
    }
}

@media (max-width: 768px) {
    .info-page {
        text-align: center;
    }
    .img-circle-style {
        text-align: center;
        margin-left: 30%;
    }
    .img-comp {
        left: 25%;
    }
    .img-comp > img {
        width: 270px;
        height: 270px;
    }
    .yoe-section {
        left: 25%;
        bottom: 30px;
        height: 130px;
        width: 130px;
    }
    .white-strip {
        height: 25px;
        width: 8px;
        left: 14px;
    }
    .yoe-para {
        font-size: 18px;
        margin: 30px 0 0 10px;
    }
    .yoe-number {
        font-size: 25px;
    }
    .img-sq-style {
        margin-bottom: 0;
    }
    .service-box {
        margin-top: 20px;
    }
    .reasons {
        margin: 15px 0;
    }
    .number {
        font-size: 30px;
        letter-spacing: 1px;
    }
    div.reasons > p {
        font-size: 25px;
    }
    .portfolio-box {
        margin-top: 15px;   
    }
}

@media (max-width: 575px) {
    .progress-section {
        margin: -40px 0 10% 0;
    }
    .img-comp > img {
        width: 400px;
        height: 400px;
    }
    .yoe-section {
        bottom: 60px;
        left: -10px;
        height: 120px;
    }
    .white-strip {
        height: 25px;
        width: 8px;
        left: 10px;
    }
    .yoe-para {
        font-size: 15px;
    }
    .service-box {
        margin-top: 20px;
    }
    .btn-view {
        margin: 40px 0 50px;
    }
    .contact-us > p {
        font-size: 15px;
    }
    .portfolio-box .text-top {
        font-size: 25px;
    }
}